<div class="cust-dash">
    <div class="dash-titile">
        <h2>Customer List</h2>
        <p>Dashboard / Customers</p>
    </div>
    <div class="o-one">
        <table>
            <tr>
              <th>Customer id</th>
              <th>Customer Name</th>
              <th>Contact Number</th>
              <th>Rating</th>
            </tr>
            <tr>
              <td>#12344</td>
              <td>Ranadip</td>
              <td>9957416364</td>
              <td>5</td>
            </tr>
            <% for(let i=1; i<20 ; i++){ %>
                <tr>
                    <td>#12345</td>
                    <td>Ranadip</td>
                    <td>9957416364</td>
                    <td>5</td>
                </tr>
            <% } %>
          </table>
    </div>
</div>