<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cart</title>
    <link rel="stylesheet" href="/css/cart.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css"/>
</head>
<body>
    <section class="navbar">
        <div class="logo">
            <h2>The Grand Èclat</h2>
        </div>
        <div class="nav-btn">
            <a href=""><i class="fa-solid fa-user-large"></i>Ranadip Das</a>
        </div>
    </section>
    <section class="main">
        <div class="address">
            <h2>Address</h2>
        </div>
        <div class="cart">
            <p><i class='bx bx-cart'></i>Cart Items</p>
            <% for(item of cart) {%>
                <div class="cartItems">
                    <div class="itemName">
                        <% if(item.type == "Veg") {%>
                            <i class='bx bx-food-tag' style="color: green;"></i>
                        <% }else{ %>
                            <i class='bx bx-food-tag' style="color: red;"></i>
                        <% } %>
                        <p><%= item.itemName %></p>
                    </div>
                    <div class="quantity">
                        <div>
                            <form action="">
                                <button type="submit"><i class='bx bx-minus' ></i></button>
                            </form>
                        </div>
                        <h3>2</h3>
                        <div>
                            <form action="">
                                <button type="submit"><i class='bx bx-plus' ></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="itemPrice">
                        <p><%= item.price %></p>
                    </div>
                </div>
            <% } %>
        </div>
    </section>
</body>
</html>