<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Grand Eclat</title>
    
    <!-- bootstrap
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"> -->

    <!-- css -->
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

    <!-- logo -->
    <%- include("./includes/logo.ejs") %>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <!-- header -->
    <header>
        <a href="#" class="logo">The Grand Éclat</a>
        <div class="nav-con">
        
            <ul class="navlist">
                <li><a href="#home" class="active">Home</a></li>
                <li><a href="#about">About Us</a></li>
                <!-- <li><a href="#shop">Our Shop</a></li> -->
                <!-- <li><a href="#review">Our Customer</a></li> -->
                <li><a href="#contact">Contact Us</a></li>
                
                
            </ul>
            <div class="nav-icons">
                <!-- <a href="/booking" type="button"><i class='bx bxs-dish' ></i></a> -->
                <a href="/cart"><i class='bx bx-cart' ></i></a>
                <a href="/profile" type="button"><i class='bx bxs-user-circle'></i></a>
                <div class="bx bx-menu" id="menu-icon"></div>
            </div>
        </div>   
    </header>

     <!-- home -->
     <section class="home"id="home">
        <div class="home-text">
            <h1>Meet, <span>Eat &</span> <br> Enjoy The Authentic<br>Flavor</h1>
            <a href="/menu" class="btn">Explore Menu<i class='bx bx-right-arrow' ></i></a>
            <!-- <a href="#" class="btn2">Order Now</a> -->
        </div>

        <div class="offer-img">
            <!-- <img src="/css/img/hero.png" alt=""> -->
             <div>
                <h4>
                    <span><%= discount  %><i class='bx bxs-offer'></i> OFF</span><br>
                    <p>*On your first order.</p>
                </h4>
             </div>
        </div>
        <video autoplay muted loop plays-inline class="bg-video">
            <source src="https://res.cloudinary.com/dm1lamejc/video/upload/v1731120597/intro1_dln5op.mp4" type="video/mp4">
        </video>
    </section>

    <!-- <section class="home" id="home">
        <div class="home-text">
            <h1>Meet, <span>Eat &</span> <br> Enjoy The true <br> taste</h1>
            <a href="#" class="btn">Explore Menu<i class='bx bx-right-arrow' ></i></a>
            <a href="#" class="btn2">Order Now</a>
        </div>

        <div class="home-img">
            <img src="img/hero.png" alt="">
        </div>
    </section> -->

      <!-- container -->
    <section class="container">
        <div class="container-box">
            <img src="/css/img/c1.png" alt="img">
            <h3>9:00 am - 11:00 pm</h3>
            <a href="#">Working Hours</a>
        </div>

        <div class="container-box">
            <img src="/css/img/c2.png" alt="img">
            <h3>Azara Guwahati 017</h3>
            <a href="#">Get Directions</a>
        </div>

        <div class="container-box">
            <img src="/css/img/c3.png" alt="img">
            <h3>+919957416364</h3>
            <a href="#">Call Us Now</a>
        </div>
    </section>

       <!-- about us -->
    <section class="about" id="about">
        <div class="about-img">
            <img src="/css/img/about1.jpeg" alt="about img">
        </div>

        <div class="about-text">
            <h2>The Grand Éclat: A Symphony of Flavors Awaits</h2>
            
            <p>
                Welcome to our restaurant, where Indian culinary tradition meets sophisticated dining. Experience a delightful journey through rich flavors and vibrant spices, crafted with the finest, freshest ingredients. Our menu offers a diverse selection, from classic comfort foods to innovative dishes, all prepared by our skilled chefs.Immerse yourself in an ambiance where elegance and warm hospitality come together, making every meal exceptional. Whether you're celebrating a special occasion or simply enjoying a casual meal. <br>Discover the art of Indian cuisine with us!
            </p>
            <!-- <a href="#" class="btn">Explore Story<i class='bx bx-right-arrow' ></i></a> -->
        </div>
    </section>

        <!-- our shop -->
    <section class="shop" id="shop">
        <div class="middle-text">
            <h4>Our Shop</h4>
            <h2>Discover Our Signature Selections</h2>
        </div>

        <div class="shop-content">
            <div class="row">
                <div class="rowImg">
                    <img src="/css/img/p8.png">
                </div>
                <h3>Dumpling Delights</h3>
                <p> Flavor-packed dumplings filled with seasoned meats or veggies, steamed to perfection and served with a tangy dipping sauce.</p>
                <div class="in-text">                
                    <div class="price">
                        <h6>₹110.00</h6>
                    </div>
                    <div class="s-btnn">
                        <a href="/menu">Order Now</a>
                    </div>
                </div>

                <div class="top-icon">
                    <a href="#"><i class="bx bx-heart"></i></a>
                </div>
            </div>

            <div class="row">
                <div class="rowImg">
                    <img src="/css/img/p5.png">
                </div>
                <h3>Chicken Biryani</h3>
                <p>Fragrant, spiced rice layered with succulent marinated meat or vegetables, slow-cooked to perfection with aromatic herbs and spices.

                </p>
                <div class="in-text">                
                    <div class="price">
                        <h6>₹250.00</h6>
                    </div>

                    <div class="s-btnn">
                        <a href="/menu">Order Now</a>
                    </div>
                </div>

                <div class="top-icon">
                    <a href="#"><i class="bx bx-heart"></i></a>
                </div>
            </div>

            <div class="row">
                <div class="rowImg">
                    <img src="/css/img/p6.png">
                </div>
                <h3>
                    Tandoori Chicken

                </h3>
                <p>Marinated in a blend of aromatic spices and yogurt, then grilled to perfection in a traditional tandoor oven. Juicy, flavorful, and beautifully charred.</p>
                <div class="in-text">                
                    <div class="price">
                        <h6>₹299.00</h6>
                    </div>

                    <div class="s-btnn">
                        <a href="/menu">Order Now</a>
                    </div>
                </div>

                <div class="top-icon">
                    <a href="#"><i class="bx bx-heart"></i></a>
                </div>
            </div>

            <div class="row">
                <div class="rowImg">
                    <img src="/css/img/p7.png">
                </div>
                <h3>Butter Chicken</h3>
                <p>
                    Creamy and rich, this classic dish features tender chicken simmered in a velvety tomato-based sauce with a blend of aromatic spices and a touch of buttery goodness.
                </p>
                <div class="in-text">                
                    <div class="price">
                        <h6>₹279.00</h6>
                    </div>

                    <div class="s-btnn">
                        <a href="/menu">Order Now</a>
                    </div>
                </div>

                <div class="top-icon">
                    <a href="#"><i class="bx bx-heart"></i></a>
                </div>
            </div>
        </div>
        <div class="row-btnn">
            <a href="/menu" class="btn">Explore Our Full Menu<i class="bx bxs-right-arrow"></i></a>
        </div>
    </section>

    <!-- reviews -->
     <section class="review" id="review">
        <div class="middle-text">
            <h4>Our Customer</h4>
            <h2>Diner Opinions on Our Food</h2>            
        </div>

        <div class="review-content">
            <div class="box">
                <p>
                    "Absolutely fantastic experience from start to finish! The service was impeccable, the food was delicious, and the hospitality made us feel right at home. Will definitely be coming back!"
                </p>
                <div class="in-box">
                    <div class="bx-img">
                        <img src="/css/img/r1.jpg" alt="">
                    </div>
                    <div class="bxx-text">
                        <h4>Ayush sapra</h4>
                        <h5>Food Vlogger</h5>
                        <div class="ratings">
                            <a href="#"><i class="bx bxs-star"></i></a>
                            <a href="#"><i class="bx bxs-star"></i></a>
                            <a href="#"><i class="bx bxs-star"></i></a>
                            <a href="#"><i class="bx bxs-star"></i></a>
                            <a href="#"><i class="bx bxs-star"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <p>
                    "An exceptional dining experience! The service was prompt and professional, the dishes were perfectly prepared, and the hospitality was top-notch. It’s clear that they truly care about their guests."
                </p>
                <div class="in-box">
                    <div class="bx-img">
                        <img src="/css/img/r2.jpg" alt="">
                    </div>
                    <div class="bxx-text">
                        <h4>Nisha Choudhary</h4>
                        <h5>Food Vlogger</h5>
                        <div class="ratings">
                            <a href="#"><i class="bx bxs-star"></i></a>
                            <a href="#"><i class="bx bxs-star"></i></a>
                            <a href="#"><i class="bx bxs-star"></i></a>
                            <a href="#"><i class="bx bxs-star"></i></a>
                            <a href="#"><i class="bx bxs-star"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <p>
                    "Every aspect of our meal was outstanding. From the attentive service to the exquisite food and the genuine hospitality, this restaurant exceeded all our expectations."
                </p>
                <div class="in-box">
                    <div class="bx-img">
                        <img src="/css/img/r3.jpg" alt="">
                    </div>
                    <div class="bxx-text">
                        <h4>Ranveer Brar</h4>
                        <h5>Chef</h5>
                        <div class="ratings">
                            <a href="#"><i class="bx bxs-star"></i></a>
                            <a href="#"><i class="bx bxs-star"></i></a>
                            <a href="#"><i class="bx bxs-star"></i></a>
                            <a href="#"><i class="bx bxs-star"></i></a>
                            <a href="#"><i class="bx bxs-star"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- contact us -->
     <section class="contact" id="contact">
       <div class="contact-content">
            <!-- <div class="contact-img">
                <div class="c-one">
                    <img src="/css/img/f1.png" alt="">
                </div>
                <div class="c-one">
                    <img src="/css/img/f2.png" alt="">
                </div>
            </div> -->

            <div class="contact-text">
                <h2>Contact Us</h2>
                <p>Choose us for an unforgettable dining experience where exceptional service meets delicious food in a welcoming atmosphere. We can't wait to make your next meal special!</p>
                <div class="social">
                    <a href="" class="clr"><i class="bx bxl-instagram-alt" ></i></a>
                    <a href=""><i class="bx bxl-facebook" ></i></a>
                    <a href=""><i class="bx bxl-twitter" ></i></a>
                    <!-- <a href=""><i class="bx bxl-github" ></i></a> -->
                    <!-- <a href=""><i class="bx bxl-google" ></i></a> -->
                </div>
            </div>

            <div class="details">
                <div class="main-d">
                    <a href="#"><i class="bx bxs-location-plus" ></i>Airport Road 65, Guwahati, Assam</a>
                </div>
                <div class="main-d">
                    <a href="#"><i class="bx bx-mobile-alt" ></i>+919957416264</a>
                </div>
                <div class="main-d">
                    <a href="#"><i class="bx bxl-youtube" ></i>Ranadip Das</a>
                </div>
                <div class="main-d">
                    <a href="#"><i class="bx bxs-bell" ></i>Subscribe</a>
                </div>
            </div>
       </div>
    </section>

    <%- include("./includes/footer.ejs") %>
    
    <!-- scroll top -->
     <a href="#home" class="scroll">
        <i class="bx bx-up-arrow-alt" ></i>
     </a>



    <!-- link to js -->
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="/js/index.js"></script>
    <script src="/js/ratings.js"></script>
</body>
</html>