<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

</head>
<body>
    <div class="con">
        <div class="dashboard">
            <div class="search-div">
                <input type="text" class="search" placeholder="search">
                <button><i class='bx bx-search-alt-2' ></i>Search</button>
            </div>
            <div class="dashboard-banner">
                <img src="/css/img/banner2.jpg" alt="">
                <div class="banner-promo">
                    <h1>
                        <span>50% OFF</span><br>
                        Tasty Food <br> On Your Hand
                    </h1>
                </div>
            </div>
    
            <div class="menu-container">
                <h2>--menu--</h2>
                <div class="starter">
                    <h4>--starter--</h4>
                    <div class="food-card">
                        <img src="/css/img/pizza.avif" alt="">
                        <div class="card-details">
                            <div class="titile">
                                <h3>Chicken Pizza</h3>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi in accusamus numquam. </p>
                            </div>
                            <div class="price">
                                <p><i class='bx bx-rupee'></i>299</p>
                            </div>
                        </div>
                        <div class="btn">
                            <p><i class='bx bxs-star' ></i>3.5</p>
                            <button>add to cart</button>
                        </div>
                    </div>
                </div>
                <!-- <div class="main-course">
                    <h4>--maincourse--</h4>
                </div>
                <div class="Drinks">
                    <h4>--drinks--</h4>
                </div> -->
            </div>
        </div>
    </div>
</body>
</html>