<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
	<title>Form Reviews</title>
    <!-- css -->
    <link rel="stylesheet" href="/css/ratings.css">

	<!-- logo -->
    <%- include("./includes/logo.ejs") %>
</head>
<body>

	<div class="wrapper">
		<h3>Ratings & Reviews</h3>
		<form action="#">
			<div class="rating">
				<div class="imgDiv2">
                    <img src="/css/img/hot.png" alt="">
                </div>
				<input type="number" name="rating" hidden>
				<i class='bx bx-star star' style="--i: 0;"></i>
				<i class='bx bx-star star' style="--i: 1;"></i>
				<i class='bx bx-star star' style="--i: 2;"></i>
				<i class='bx bx-star star' style="--i: 3;"></i>
				<i class='bx bx-star star' style="--i: 4;"></i>
			</div>
			<textarea name="opinion" cols="30" rows="5" placeholder="Your opinion..."></textarea>
			<div class="btn-group">
				<button type="submit" class="btn submit">Submit</button>
				<button class="btn cancel">Cancel</button>
			</div>
		</form>
	</div>
	<script src="/js/ratings.js"></script>
</body>
</html>