* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

:root {
  --main-color: #ff9f0d;
  --text-color: #fff;
  --other-color: #212121;
  --second-color: rgba(2, 6, 12, 0.0509803922);
  --bg-color: #111111;
  --big-font: 4rem;
  --h2-font: 1.2rem;
  --p-font: 0.8rem;
  --i-size: 1.5rem;
}

body {
  background: var(--second-color);
}


.main-con {
  display: flex;
}

.nav-bar {
  background: var(--bg-color);
  color: #fff;
  height: 100vh;
  width: 20%;
}

.heading {
  padding: 2rem 0;
}

.heading h2 {
  font-size: var(--h2-font);
  text-align: center;
  letter-spacing: 0.2rem;
}

.nav-list {
  padding: 0;
  margin-top: 2rem;
}

.nav-list li {
  width: 100%;
  padding: 1rem 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.nav-list li.active {
  background: var(--main-color);
}

.nav-list a {
  color: var(--text-color);

  font-size: var(--p-font);
}

i {
  margin-right: 0.5rem;
  font-size: var(--i-size);
}

.dashboard {
  width: 80%;
}

.nav-bar2 {
  width: 100%;
  height: 10vh;
  padding: 1rem 4rem 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--text-color);
}

.nav-bar2 i {
  font-size: 2rem;
  color: #ff9f0d;
  margin-left: 0.5rem;
}

.nav-icons {
  display: flex;
  align-items: center;
  padding: 0.2rem 1rem;
  background: var(--main-color);
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
  box-shadow: #ff9f0d 0px 1px 1px;
  font-size: var(--p-font);
}

.nav-icons i {
  color: #111111;
}

.main-dash,
.order-dash,
.cust-dash {
  position: relative;
  background: var(--second-color);
  padding: 1rem 2rem;
  width: 100%;
  height: 90vh;
  overflow: auto;
  padding-bottom: 4rem;
}

.dash-titile h2 {
  font-size: var(--h2-font);
  font-weight: 400;
  letter-spacing: 0.1rem;
  margin: 0;
}

.dash-titile p {
  font-size: var(--p-font);
  margin: 0;
  color: #8c8c8c;
}

.one {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  gap: 1rem;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background: white;
  border-radius: 1rem;
  margin-top: 1rem;
}

.box-i i {
  margin: 0;
  color: #fa6239;
}

.box-i {
  border-radius: 50%;
  background: #ffe5e1;
  display: flex;
  align-items: center;
  padding: 1rem;
}

.box-t {
  padding: 0 1rem;
}

.box-t h3 {
  font-size: 1rem;
}

.box-t p {
  font-size: var(--p-font);
}

.two {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, auto));
  gap: 1rem;
  padding: 1rem 0;
}

.two-a {
  background: #fff;
  padding: 2rem ;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.two-b {
  background: #fff;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
}

.three {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, auto));
  gap: 1rem;
}

.three-a {
  width: 1fr;
  border-radius: 1rem;
  padding: 2rem;
  background: var(--text-color);
}

.three-a div h2 {
  font-size: var(--h2-font);
}

.top-card {
  display: flex;
  justify-content: center;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  background: var(--second-color);
  border-radius: 1rem;
}

.top-card-img {
  display: flex;
  align-items: center;
  width: 100px;
  margin-right: 1rem;
}

.top-card-img img{
  border-radius: 0.6rem;
}

.top-card-img i {
  font-size: 2rem;
}

.top-card-text {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top-card-text div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.card-con {
  width: 100%;
  overflow: auto;
}

.three-b {
  background: #fff;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.o-one {
  width: 100%;
  padding: 1rem;
  background: var(--text-color);
  margin-top: 1rem;
  border-radius: 1rem;
  text-align: center;
  overflow: hidden;
}
.o-one table {
  width: 100%;
  margin-bottom: 1rem;
}

.categoryTitle, .orderTitle{
  font-size: 1.5rem !important;
  font-weight: 700 !important;
}

.o-one table tr th {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  font-size: 0.9rem;
}
.o-one table tr td {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  border-top: 2px solid var(--second-color);
  font-size: var(--p-font);
}

.btn-td {
  padding: 0;
}

.o-btn {
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
  color: navy;
}

.o-btn i {
  font-size: 1.9rem;
  transition: all 0.2s ease;
  &:hover {
    transform: scale(1.2);
  }
}

.dash-head{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.emp-add{
  display: flex;
}

.showDiscount p{
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  background: var(--text-color);
  border-radius: 0.5rem;
  margin-right: 1rem;
  cursor: pointer;
  transition: all 0.2s ease;
  &:hover {
    transform: scale(1.05);
  }
}

.showDiscount p i{
  font-size: 1.2rem;
}

.emp-add form {
  margin-right: 1rem;
}

.emp-add button{
  border: none;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  background: var(--text-color);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.2s ease;
  &:hover {
    transform: scale(1.05);
  }
}

.emp-add button i{
  margin: 0;
  font-size: 1.1rem;
}

canvas{
  cursor: pointer;
}

table tr td img{
  width: 70px;
  border-radius: 0.7rem;
}

.chargesTable{
  margin-top: 1rem;
}

.chargesTable tr td {
  border: 2px solid var(--second-color);
}