
a {
    text-decoration: none;
}
  
:root {
    --main-color: #ff9f0d;
    --text-color: #fff;
    --other-color: #212121;
    --second-color: rgba(2, 6, 12, 0.0509803922);
    --bg-color: #111111;
    --big-font: 4rem;
    --h2-font: 1.2rem;
    --p-font: 0.8rem;
    --i-size: 1.5rem;
}

.empForm-div{
    width: 100%;
    padding: 1rem;
    background: var(--text-color);
    margin-top: 1rem;
    border-radius: 1rem;
    text-align: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.empForm{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 1rem;
}

.empForm div{
    display: flex;
    flex-direction: column;
    align-items: start;
}